.user_detail {
  display: flex;
  flex-direction: column;
}

.user_detail .title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.user_detail .container {
  display: flex;
}

.user_detail .picture {
  margin: 20px;
}

.user_detail .picture-detail {
  flex: 1 1 auto;
  padding: 10px 10px;
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.picture-detail__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.picture-detail__info > span {
  /* background-color: rgb(209, 196, 186); */
  /* border: 1px solid wheat; */
  display: flex;
  margin: 10px 10px;
  width: 35%;
  justify-content: space-between;
  padding: 0 10px;
}
.picture-detail__info > div:last-child {
  width: 95%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px 10px;
  border-top: 2px solid rgb(0, 138, 0);
}
.picture-detail__info > div:last-child > dt {
  margin-bottom: 10px;
}

.picture-detail > div {
  margin-top: 20px;
}

.picture-detail .picture-detail__request {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-detail > div > button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: rgb(0, 158, 66);
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px;
}

.picture-detail > div > button:hover {
  color: green;
  background-color: white;
  font-weight: bold;
  border: 2px solid green;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
